{{ define "host" }}
    {{ $host := .Host }}
    {{ $machine := .Machine }}
    {{ range $index, $network := .Container.Networks }}
        {{ if ne $network.IP "" }}
            {{ if not $machine }}
{{ $network.IP }} {{ $host }}
            {{ else }}
{{ $machine }} {{ $host }}
            {{ end }}
        {{ end }}
    {{ end }}
{{ end }}

{{ $machine := .Env.MACHINE }}

{{ range $host, $containers := groupByMulti $ "Env.DOMAIN_NAME" "," }}
    {{ range $index, $container := $containers }}
        {{ template "host" (dict "Container" $container "Host" (print $host) "Machine" $machine) }}
    {{ end }}
{{ end }}

{{ range $host, $containers := groupByMulti $ "Env.VIRTUAL_HOST" "," }}
    {{ range $index, $container := $containers }}
        {{ template "host" (dict "Container" $container "Host" (print $host) "Machine" $machine) }}
    {{ end }}
{{ end }}
